@font-face {
  font-family: "iconfont"; /* Project id 4166682 */
  src: url('../fonts/font_4166682_7u797e464z.woff2') format('woff2'),
       url('../fonts/font_4166682_7u797e464z.woff') format('woff'),
       url('../fonts/font_4166682_7u797e464z.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gou1:before {
  content: "\e63c";
}

.icon-tel:before {
  content: "\e642";
}

.icon-location:before {
  content: "\e76f";
}

.icon-email-fill:before {
  content: "\e856";
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-top:before {
  content: "\e663";
}

.icon-qiche1:before {
  content: "\e7ef";
}

.icon-kongyun:before {
  content: "\e639";
}

.icon-chaobiaoweixuanzhong:before {
  content: "\e670";
}

.icon-shenjingdaoguan:before {
  content: "\e609";
}

.icon-wuxing:before {
  content: "\e604";
}

.icon-gaojigongnengicon:before {
  content: "\e665";
}

.icon-fanganzhichi:before {
  content: "\e619";
}

.icon-hulve:before {
  content: "\e631";
}

.icon-004-team:before {
  content: "\e603";
}

.icon-Protectionfreeicon:before {
  content: "\e64b";
}

.icon-linghuokuozhan:before {
  content: "\e776";
}

.icon-zhuanyezhishi:before {
  content: "\e62e";
}

.icon-linghuoxing:before {
  content: "\e63b";
}

.icon-Facebook:before {
  content: "\e695";
}

.icon-Youtube-fill:before {
  content: "\e883";
}

.icon-instagram-fill:before {
  content: "\e88f";
}

.icon-tuite:before {
  content: "\e652";
}

.icon-icon-test-copy:before {
  content: "\ecab";
}

.icon-xiaofeizhe:before {
  content: "\e64f";
}

.icon-xiugaijiaoyimima:before {
  content: "\e6c6";
}

.icon-icon-test:before {
  content: "\e6ee";
}

.icon-icon-test1:before {
  content: "\e6f7";
}

.icon-icon-test2:before {
  content: "\e789";
}

.icon-yiliaojiankang:before {
  content: "\ecaa";
}

.icon-manu:before {
  content: "\e694";
}

.icon-fenlei-xuanzhong:before {
  content: "\e638";
}

.icon-yasuobao:before {
  content: "\e64d";
}

.icon-wendang:before {
  content: "\e882";
}

.icon-post_video:before {
  content: "\e621";
}

.icon-3jichubiaoge:before {
  content: "\e615";
}

.icon-yinpin:before {
  content: "\e60a";
}

.icon-shangchuan:before {
  content: "\e618";
}

.icon-gou:before {
  content: "\e650";
}

.icon-arrow-left-filling:before {
  content: "\e688";
}

.icon-arrow-right-filling:before {
  content: "\e689";
}

.icon-shouqicaidan:before {
  content: "\e622";
}

.icon-zhankaicaidan:before {
  content: "\e624";
}

.icon-admin-users:before {
  content: "\e66f";
}

.icon-plus:before {
  content: "\e600";
}

.icon-admin-tools:before {
  content: "\e653";
}

.icon-admin-page:before {
  content: "\e601";
}

.icon-reduce:before {
  content: "\e6f2";
}

.icon-right:before {
  content: "\eb8a";
}

.icon-admin-appearance:before {
  content: "\e6d7";
}

.icon-admin-comments:before {
  content: "\e60f";
}

.icon-admin-plugins:before {
  content: "\e648";
}

.icon-admin-post:before {
  content: "\e645";
}

.icon-admin-media:before {
  content: "\e608";
}

.icon-admin-settings:before {
  content: "\e86d";
}

.icon-dashboard:before {
  content: "\e628";
}

